body {

    background-color: orange;

}


h1{

    text-align: center;
    color: lightcoral;
    font-size: 200px;
    font: Berlin San FB;

}

p {

    font-size: 100px;
    color: lightgreen;

}
